/* 추가 */
.work-space-background {
  width: 100%; 
  height: calc(100vh - 60px); /* 전체 높이에서 header 60px을 뺀값: 스크롤이 생기는걸 막기 위해 사용 */
  background-color: #F2F9ff;
}

/* 추가 */
.work-space-container {
  max-width: 1600px;
  margin: 0 auto; /* 중앙 정렬 */
  padding-top: 80px;
}

/* 추가 */
.work-space-buttons-header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

/* 추가 */
.work-space-buttons {
  display: flex;
  gap: 20px;
}

/* 최근 항목 */
.work-space-buttons-recent {
  width: 95px;
  height: 34px;
  font-size: 24px;
  color: #000000;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  margin-bottom: 10px; /* 추가 */
}
    
/* 새 폴더 */
.work-space-buttons-newfolder {
  width: 73px;
  height: 34px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
  
/* 문제 생성 */
.work-space-buttons-newproblem {
  width: 95px;
  height: 34px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
  
/* 구분선 */
.work-space-buttons-underline {
  width: 1600px;
  height: 0px;
  border: none;
  border-bottom: 1px solid #000000;
}

.work-space-box {
  width: 1600px;
  height: 400px;
  border: 2px dashed #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* 추가 */
}

.work-space-box-context {
  width: 415px;
  height: 45px;
  color: #000000;
  font-size: 32px;
}

  /* folder-list 내의 모든 아이템에 적용될 기본 스타일 */
.folderList {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 500px; /* 필요에 따라 조정 */
}