/* 전체 헤더 컨테이너 (새로 추가) */
/* .work-space-buttons-header-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
  } */
  
  /* 최근 항목 */
  .work-space-buttons-recent {
    position: absolute;
    top: 140px;
    left: 180px;
    width: 95px;
    height: 34px;
    font-size: 24px;
    color: #000000;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
  }
    
  /* 새 폴더 */
  .work-space-buttons-newfolder {
    position: absolute;
    top: 140px;
    left: 1552px;
    width: 73px;
    height: 34px;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* 문제 생성 */
  .work-space-buttons-newproblem {
    position: absolute;
    top: 140px;
    left: 1645px;
    width: 95px;
    height: 34px;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* 구분선 */
  .work-space-buttons-underline {
    position: absolute;
    width: 1600px;
    height: 0px;
    /* bottom: 0; */
    top: 184px;
    left: 160px;
    border: none;
    border-bottom: 1px solid #000000;
  }











  /* 전체 헤더 컨테이너 (새로 추가) */
/* .work-space-buttons-header-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
} */

/* 최근 항목 */
/* .recent {
  position: absolute;
  top: 140px;
  left: 140px;
  width: 95px;
  height: 34px;
  font-size: 24px;
  color: #000000;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

/* 새 폴더 • 문제 생성 컨테이너 */
/* .rightTopGroup {
  position: absolute;
  top: 0;
  right: 20px;
  width: 188px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #000000;
} */

/* 새 폴더 */
/* .newfolder {
  width: 73px;
  height: 34px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
} */

/* 문제 생성 */
/* .newproblem {
  width: 95px;
  height: 34px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
} */

/* 구분선 */
/* .underline {
  position: absolute;
  width: 1200px;
  height: 0px;
  bottom: 0;
  top: 184px;
  left: 120px;
  border: none;
  border-bottom: 1px solid #000000;
} */