.submit-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.submit-inner {
  font-size: 18px;
}

.submit-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.submit-desc {
  font-size: 18px;
  margin-bottom: 20px;
}

.submit-btn {
  width: 243px;
  height: 58px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #3B465E;
  color: #FFFFFF;
  font-family: var(--font-family-main);
}

.submit-label {
  font-size: 24px;
  font-weight: 500;
}
