.backdrop {
  position: fixed;        
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;         
}

.settings-container {
  width: 900px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 5px;
}

.settings-header {
  height: 60px;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #000000;
}
.settings-title { 
  font-size: 24px; 
}
.close-btn { 
  width: 30px;
  height: 30px;
  border: none; 
  background: none;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer; 
}

.settings-inner { 
  padding: 20px 50px; 
}
.key-title { 
  margin-bottom: 10px; 
  font-size: 20px; 
}

.table-wrap { 
  overflow: hidden; 
}
.table { 
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed; 
}
.table th, .table td { 
  border: 1px solid #666666; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center; 
}
.table th { 
  font-size: 18px;
  background: #F2F9FF;
}
.table td {
  font-size: 16px;
}
.kbd { 
  white-space: nowrap; 
}

.options-row { 
  display: flex; 
  gap: 100px; 
  align-items: center; 
  margin-top: 20px; 
  padding-bottom: 20px; 
  flex-wrap: wrap; 
  border-bottom: 1px solid #666666; 
}
.option-group { 
  display: flex; 
  align-items: center; 
  gap: 20px; 
}
.option-label { 
  font-size: 20px;
}

.segment { 
  display: flex; 
  border: 1px solid #3B465E; 
  border-radius: 5px; 
  overflow: hidden; 
}
.segment-btn { 
  padding: 5px 10px; 
  background: #F2F9FF; 
  border: none; 
  cursor: pointer; 
  font-size: 16px;
}

.active { 
  background: #3B465E; 
  color: #FFFFFF; 
}

.select { 
  width: 115px;
  height: 28px;
  padding: 5px; 
  border-radius: 5px; 
  background: #3B465E;
  color: #FFFFFF; 
  font-size: 16px;
}

.logout { 
  margin-top: 10px; 
  border: none; 
  background: transparent; 
  color: #666666; 
  font-size: 14px;
  cursor: pointer; 
}

.settings-save {
  display: flex;
  justify-content: flex-end;
}

.settings-save-btn  { 
  padding: 5px 15px; 
  font-size: 16px;
  border-radius: 5px; 
  border: none;
  background: #4397F3; 
  color: #FFFFFF; 
  cursor: pointer; 
}
